.main-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-image: url('https://www.pexels.com/photo/beige-concrete-house-under-cumulus-cloud-358636/'); /* Path to your background image */
  background-size: cover; /* Resize the background image to cover the container */
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5); /* Lighten the background color */
  color: #000; /* Set text color to dark for better readability */
}

.main-container header {
  margin-bottom: 20px;
}

.main-container header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.main-container header p {
  font-size: 1.2rem;
  color: #0056b3; /* Adjust text color for better contrast */
}

.main-container div {
  display: flex;
  justify-content: center;
}

.main-container button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.main-container button:hover {
  background-color: #0056b3;
}
