.navbar{
    background-color: #f8f9fa;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar__logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #007bff;
    text-decoration: none;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: -22px;
}

.navbar__item{
    padding: 0 10px;
}

.navbar__link{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar__link:hover{
    color: #007bff;
}

