.inputContainer {
    align-items: left;
}

.noSpace {
    margin: 4px;
    padding: 0;
}

.twoCol {
    display: flex;
    grid-row: 2;
}

.createBtn {
    padding: 8px;
    color:aquamarine;
    background-color:darkblue;
    border-radius: 8px;
}

.heading {
    font-size: 24px;
}

.fields {
    font-size: 12px;
}

.firstRow {
    margin-right: 48px;
}

.inputBox {
    border-radius: 8px;
    height: 20px;
    background-color:lightgrey;
    border-top-color: white;
    border-left-color: white;
    border-width: 0;
}

.radioBtn {
    margin-right: 4px;
}

.noSpaceInput {
    margin-left: 4px;
}

.signUpForm {
    margin-top: 32px;
    margin-bottom: 32px;
}