/* FILEPATH: /Users/chaithrabekal/Documents/frontend/src/components/Footer/footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li {
  display: inline-block;
  margin-right: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
